<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de renseignement</title>
</head>
<body>
    <p>Mr ou Mme {{contact.nom}} {{ contact.prenom}}</p>
    <p> Adresse du contact : {{ contact.email }} </p>
    <p> Numéro du contact : {{ contact.telephone }} </p>
    <p>Souhaiterai avoir des renseignements au sujet de :</p>
    <p> {{ contact.commentaire }} </p>
</body>
</html>

